<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>


<form action = "/ApproveNotes/{{newNotes.id}}" method = "POST" enctype="multipart/form-data"> {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">device_id</label>
    <input type="text" name="devicesel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="device_id" value="{{newNotes.device_id}}" readonly>
    <small id="emailHelp" class="form-text text-muted">device_id</small>
  </div>
  <div class="form-group">
    <label for="exampleInputname">name</label>
    <input type="text" name="namesel" class="form-control" id="exampleInputname" placeholder="name" value="{{newNotes.name}}" readonly>
  </div>
  <div class="form-group">
    <label for="exampleInputemail">email</label>
    <input type="text" name="emailsel" class="form-control" id="exampleInputemail" placeholder="email" value="{{newNotes.email}}" readonly>
  </div>
  <div class="form-group">
    <label for="exampleInputcontact">contact</label>
    <input type="text" name="contactsel" class="form-control" id="exampleInputcontact" placeholder="contact" value="{{newNotes.contact}}" readonly>
  </div>
  <div class="form-group">
    <label for="exampleInputaddress">address</label>
    <input type="text"  name="addresssel" class="form-control" id="exampleInputaddress" placeholder="address" value="{{newNotes.Inputaddress}}" readonly>
  </div>
  <div class="form-group">
    <label for="exampleInputDescription">Description</label>
    <input type="text"  name="descriptionsel" class="form-control" id="exampleInputDescription" placeholder="Description" value="{{newNotes.Description}}">
  </div>
    <div class="form-group">
    <a href="http://34.219.72.32/media/{{newNotes.notes}}" target="_blank">http://34.219.72.32/media/{{newNotes.notes}}</a>

  </div>
  <label for="myfile">Select a file:</label>
<input type="file" id="myfile" name="myfilesel" value="http://34.219.72.32/media/{{newNotes.notes}}">
  <div class="form-group">
    <label for="exampleInputsubjectID">subjectID</label>
    <input type="text" name="subjectidsel" class="form-control" id="exampleInputsubjectID" placeholder="subjectID" value="{{newNotes.subjectID}}" readonly>
  </div>
    <div class="form-group">
      <label for="Selectsem">select sem</label>
      <select id="Selectsem" class="form-control" name="semestersel">
        <option value="Y">Select a semester</option>
        {% for sem in semester %}
        <option value="{{ sem.sem_name}}">{{sem.sem_name}}</option>
        {% endfor %}
      </select>
    </div>
        <div class="form-group">
      <label for="disabledBranch">select Branch</label>
      <select id="disabledBranch" class="form-control" name="branchsel">
        {% for bra in branches %}
        <option value="{{bra.branch_name}}">{{bra.branch_name}}</option>
        {% endfor %}
      </select>
    </div>
      <div id="subjects">
        {% include 'SubDropDown.html' %}
    </div>
  <br>
  <button type="submit" class="btn btn-primary">Approve</button>
</form>

<script type="text/javascript">
$(document).ready(function(event){
    $(document).on('click','#fetchsub', function(event){
    event.preventDefault();
    var branch;
    branch = $('#disabledBranch').val()
    var sem;
    sem = $('#Selectsem').val();
    $('#Selectsem').val()
    $.ajax(
    {
        type:'POST',
        url: "/FetchSub/",
        data:{
                 'branchs': branch,
                 'sems': sem,
                 'csrfmiddlewaretoken': '{{csrf_token}}'
        },
        dataType: 'json',
        success: function( response )
        {
            $('#subjects').html(response['form']);
        }
     })
    })
});
</script>