<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



<form>
  <div class="form-group">
    <label for="exampleInputEmail1">device_id</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="device_id">
    <small id="emailHelp" class="form-text text-muted">device_id</small>
  </div>
  <div class="form-group">
    <label for="exampleInputname">name</label>
    <input type="text" class="form-control" id="exampleInputname" placeholder="name">
  </div>
  <div class="form-group">
    <label for="exampleInputemail">email</label>
    <input type="text" class="form-control" id="exampleInputemail" placeholder="email">
  </div>
  <div class="form-group">
    <label for="exampleInputcontact">contact</label>
    <input type="text" class="form-control" id="exampleInputcontact" placeholder="contact">
  </div>
  <div class="form-group">
    <label for="exampleInputaddress">address</label>
    <input type="text" class="form-control" id="exampleInputaddress" placeholder="address">
  </div>
  <div class="form-group">
    <label for="exampleInputDescription">Description</label>
    <input type="text" class="form-control" id="exampleInputDescription" placeholder="Description">
  </div>
  <div class="form-group">
    <label for="exampleInputsubjectID">subjectID</label>
    <input type="text" class="form-control" id="exampleInputsubjectID" placeholder="subjectID">
  </div>
    <div class="form-group">
      <label for="Selectsem">select sem</label>
      <select id="Selectsem" class="form-control">
        {% for sem in semester %}
        <option>        {% for sem in semester %}
        <option>option1</option>
        {% endfor %}</option>
        {% endfor %}
      </select>
    </div>
        <div class="form-group">
      <label for="disabledBranch">select Branch</label>
      <select id="disabledBranch" class="form-control">
                {% for sem in semester %}
        <option>option1</option>
        {% endfor %}
      </select>
    </div>
        <div class="form-group">
      <label for="disabledSub">select sub</label>
      <select id="disabledsub" class="form-control">
        <option>option1</option>
      </select>
    </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Approve ?</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>